<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Home</title>
        <link rel="stylesheet" href="/styles/general.css">
        <link rel="stylesheet" href="/styles/index.css">
    </head>
    <body>
        <%- include("nav.ejs") %>
        <div class="main">
          <div class="about">
            <img src="/images/about_us.webp" alt="About Us Image">
            <p>Hello world</p>
          </div>
          <div class="start-practicing">
            <h2>Start Practicing Now</h2>
            <p>Get better using AI</p>
            <button>Practice Now</button>
          </div>
        </div>
        <%- include("footer.ejs") %>
    </body>
</html>
