<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/styles/general.css">
        <link rel="stylesheet" href="/styles/nav.css">
    </head>

    <body>
        <div class="main-div">
            <nav>
                <div class="logo_title">
                    <a href="/"><img src="/images/logo.webp" alt="site logo"></a>
                    <h1>AI Assisted Education</h1>
                </div>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/practice">Practice</a></li>
                    <li><a href="/reports">Reports</a></li>
                    <li><a class="signupButton" href="/signup_and_login"><button>Sign up / Log in</button></a></li>
                </ul>
            </nav>
        </div>
    </body>
</html>