<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Home</title>
        <link rel="stylesheet" href="/styles/general.css">
        <link rel="stylesheet" href="/styles/index.css">
    </head>
    <body>
        <%- include("user_nav.ejs") %>
        <div class="main">
            Coming soon
        </div>
        <%- include("footer.ejs") %>
    </body>
</html>
