<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Home</title>
        <link rel="stylesheet" href="/styles/general.css">
        <link rel="stylesheet" href="/styles/practice.css">
    </head>
    <body>
        <%- include("user_nav.ejs") %>
        <div class="main">
            <h1>Quiz</h1>
            <h2>Networking</h2>
            <div class="question">
                <label>The most common protocol used for transferring files over the Internet is: </label>
                <input type="text" id="n_1">
            </div>
            <div class="question">
                <label>The application layer of the TCP/IP model provides services for: </label>
                <input type="text" id="n_2">
            </div>
            <div class="question">
                <label>A device that connects multiple networks together is called a: </label>
                <input type="text" id="n_3">
            </div>
            <h2>Programming Language</h2>
            <div class="question">
                <label>JavaScript was created by: </label>
                <input type="text" id="p_1">
            </div>
            <div class="question">
                <label>The main feature that C++ have over C is: </label>
                <input type="text" id="p_2">
            </div>
            <div class="question">
                <label>In Java, variables are defined using the keyword: </label>
                <input type="text" id="p_3">
            </div>
            <h2>Databases</h2>
            <div class="question">
                <label>A database that uses the SQL language is called: </label>
                <input type="text" id="d_1">
            </div>
            <div class="question">
                <label>In a database, a primary key uniquely identifies: </label>
                <input type="text" id="d_2">
            </div>
            <div class="question">
                <label>They keyword used to place conditions in queries is: </label>
                <input type="text" id="d_3">
            </div>
            <button type="submit" onclick="submitQuiz()">Submit</button>
        </div>
        <script>
            async function submitQuiz() {
                const networking_q1_answer = document.querySelector("#n_1").value;
                const networking_q2_answer = document.querySelector("#n_2").value;
                const networking_q3_answer = document.querySelector("#n_3").value;

                const programming_q1_answer = document.querySelector("#p_1").value;
                const programming_q2_answer = document.querySelector("#p_2").value;
                const programming_q3_answer = document.querySelector("#p_3").value;

                const databases_q1_answer = document.querySelector("#d_1").value;
                const databases_q2_answer = document.querySelector("#d_2").value;
                const databases_q3_answer = document.querySelector("#d_3").value;

                const response = await fetch("/api/submitPractice", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({
                        "networking": {
                            "question1_answer": networking_q1_answer,
                            "question2_answer": networking_q2_answer,
                            "question3_answer": networking_q3_answer
                        },
                        "programming": {
                            "question1_answer": programming_q1_answer,
                            "question2_answer": programming_q2_answer,
                            "question3_answer": programming_q3_answer
                        },
                        "databases": {
                            "question1_answer": databases_q1_answer,
                            "question2_answer": databases_q2_answer,
                            "question3_answer": databases_q3_answer
                        }
                    })
                });
                const data = await response.json();
                console.log(data);
            }
        </script>
        <%- include("footer.ejs") %>
    </body>
</html>