<!DOCTYPE html>
<html>
    <head>
        <title>Quiz Results</title>
        <link rel="stylesheet" href="/styles/general.css">
        <link rel="stylesheet" href="/styles/reports.css">
    </head>
    <body>
        <%- include("user_nav.ejs") %>
        <button id="getUserQuizzesButton" data-email="<%= user.email %>">Get User Quizzes</button>
        <div class="container">
            <h1>Quiz Results</h1>
            <div class="networking">
                <span>Networking:</span>
                <span class="percentage"></span>
            </div>
            <div class="programming">
                <span>Programming:</span>
                <span class="percentage"></span>
          </div>
          <div class="databases">
              <span>Databases:</span>
              <span class="percentage"></span>
          </div>
        </div>

        <script>
            const getUserQuizzesButton = document.querySelector('#getUserQuizzesButton');
            const email = getUserQuizzesButton.dataset.email;

            getUserQuizzes(email);
            async function getUserQuizzes(email) {
                // Make a GET request to the backend to get the quizzes
                const result = await fetch(`/api/getUserQuizzes/${email}`, {
                    method: "GET"
                })
                const reqResult = await result
                let quizzes = await result.json()
                
                if (reqResult.status === 200) {
                    const categories = ['networking', 'programming', 'databases'];
                    const totalCorrectAnswers = { networking: 0, programming: 0, databases: 0 };

                    // Loop through each quiz and update the total number of correct answers for each category
                    for (const quiz of quizzes.message) {
                        for (const category of categories) {
                            if (quiz[category].q_correct) {
                                totalCorrectAnswers[category]++;
                            }
                        }
                    }

                    let totalQuestions = quizzes.message.length
                    for (const category of categories) {
                        const percentage = ((totalCorrectAnswers[category] / totalQuestions) * 100).toFixed(2);
                        const percentageSpan = document.querySelector(`.${category} .percentage`);
                        percentageSpan.textContent = `${percentage}%`;
                    }
                }
            }
        </script>
        <%- include("footer.ejs") %>
    </body>
</html>